<!DOCTYPE html>
<html lang="es" ng-app="devflix">
<head>
  <meta charset="UTF-8">
  <title>Devflix</title>
  <link rel="stylesheet" href="styles/estilos.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="seriesController as srsCtrl">
  <header>
    <img class="logo" src="images/devflix-logo.png" alt="Devflix" />
    <nav>
      <ul>
        <li><a href="#" ng-class="{ active : srsCtrl.isSet(1) }" ng-click="srsCtrl.setTab(1)">Ver ahora</a></li>
        <li><a href="#" ng-class="{ active : srsCtrl.isSet(2) }" ng-click="srsCtrl.setTab(2)">Buscador</a></li>
      </ul>
    </nav>
  </header>
  <nuevos-lanzamientos ng-show="srsCtrl.isSet(1)"> 
  </nuevos-lanzamientos>
  <div ng-show="srsCtrl.isSet(2)">
  <h2>Buscador</h2>
    <input type="text" ng-model="texto" ng-init="texto = '  '" />
    <section class="series">
      <article ng-repeat="serie in srsCtrl.series | filter : texto" class="serie">
        <img src="images/{{serie.slug}}.jpg" alt="{{serie.titulo}}" />
        <div class="badge color-{{tipo | lowercase}}" ng-repeat="tipo in serie.tipo">{{tipo}}</div>      
      </article>
    </section>
  </div>
</body>
</html>