body {
  background-image: url("../images/background.jpg");
  font-size: 16px;
  margin: 0; }

header {
  background: rgba(0, 0, 0, 0.35);
  height: 40px;
  padding: .5em 2.5%;
  text-align: center; }
  header input {
    float: right;
    margin-top: 10px;
    vertical-align: top; }
  header .carrito {
    float: right;
    border: 1px solid #001100;
    border-bottom: 1px solid #000100;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 0 #259d0c;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: green;
    background-image: -webkit-linear-gradient(top, green 0%, #004e00 50%, #003500 50%, #003a00 100%);
    background-image: linear-gradient(to bottom,green 0%, #004e00 50%, #003500 50%, #003a00 100%);
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px black; }
    header .carrito:hover:not(:disabled) {
      cursor: pointer;
      background-color: #007100;
      background-image: -webkit-linear-gradient(top, #007100 0%, #004200 50%, #002b00 50%, #003000 100%);
      background-image: linear-gradient(to bottom,#007100 0%, #004200 50%, #002b00 50%, #003000 100%); }
    header .carrito:active:not(:disabled), header .carrito:focus:not(:disabled) {
      box-shadow: inset 0 0 20px 0 #000c00; }
    header .carrito:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  header:hover {
    background: rgba(0, 0, 0, 0.5); }

nav, section.productos {
  float: left; }

nav {
  background-color: black;
  box-sizing: border-box;
  margin-top: 2em;
  padding: 1em 0 6em;
  text-align: center;
  width: 15%; }
  nav .btn-active {
    background: #006F51; }
  nav img {
    margin-bottom: .5em; }
  nav ul {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left; }
    nav ul li {
      border-bottom: 1px solid #d1d1d1;
      margin: 0;
      padding: 0; }
      nav ul li a {
        color: white;
        display: block;
        padding: .5em 1em;
        text-decoration: none; }
        nav ul li a:hover {
          background-color: white;
          color: black; }

section.productos {
  background-color: white;
  box-sizing: border-box;
  margin: 2em 2.5%;
  padding: 1em;
  text-align: center;
  width: 80%; }
  section.productos div {
    background-color: #d1d1d1;
    overflow: hidden;
    padding: .5em; }
    section.productos div a {
      float: right; }

article {
  display: inline-block;
  position: relative;
  margin: 1em .5em;
  width: 150px; }
  article span, article button {
    display: block;
    margin: 5px auto; }
  article span {
    font-weight: bold; }
  article img {
    border: 2px solid #d1d1d1;
    width: 100%; }
  article button {
    border: 1px solid #076fe4;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #8ebcf1;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #4294f0;
    background-image: -webkit-linear-gradient(#4294f0, #0776f3);
    background-image: linear-gradient(#4294f0, #0776f3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #0065d6;
    background-clip: padding-box;
    position: absolute;
    right: 0;
    top: 0; }
    article button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 #60a2ec;
      cursor: pointer;
      background-color: #2f87ea;
      background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
      background-image: linear-gradient(#2f87ea, #086fe3); }
    article button:active:not(:disabled), article button:focus:not(:disabled) {
      border: 1px solid #076fe4;
      box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }
    article button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

#paginator {
  background: #fff; }
  #paginator ul {
    display: inline-block;
    padding-left: 0px; }
    #paginator ul li {
      display: inline-block;
      padding: 6px 10px;
      cursor: pointer;
      background: #d1d1d1; }
      #paginator ul li.btn-active {
        color: #fff;
        background: #006F51; }
      #paginator ul li:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      #paginator ul li:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }

/*# sourceMappingURL=estilos.css.map */
