@media screen and (min-width: 640px) {
  .serie {
    @include span-columns(4);
    @include omega-reset(2n);
    @include omega(3n);
  }
}

@media screen and (min-width: 860px) {
  .serie {
    width: 13%;
    margin-right: 1.5%;
    &:nth-child(2n) {
      margin-right: 1.5%;
    }
    &:nth-child(3n) {
      margin-right: 1.5%;
    }
    &:nth-child(7n) {
      margin-right: 0;
    }
  }
}